html.wait, html.wait * { cursor: wait !important; }

body {
    margin: 20px;
    font-family: Tahoma, Verdana, humanist san-serif;
}

h2, h3, h4 {
    font-family: Tahoma, Verdana, humanist san-serif;
}

.row > [class^="col-"] {
    padding: 5px 5px 5px 5px;
}

#results > .row > [class="col-sm-2"] {
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.cursor-pointer, .cursor-pointer * {
    cursor: pointer !important;
}

.list-group > [data-arkiv-secrecy="10"] {
    color: #999999;
}

#moreRow {
    display: none;
}

#noHits {
    display: none;
    color: #999999;
}